/* 
keywords:
FONT
COLOR VARIABLES
TYPOGRAPHY
*/

/* ========== FONT ========== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

/* ========== COLOR VARIABLES ========== */
:root {
  /* Dark */
  --ink-lightest: #7a7e80;
  --ink-lighter: #464a4d;
  --base-dark-dark-75: #161719;
  --base-dark-dark-100: #0d0e0f;

  /* Light */
  --sky-light: #e3e5e5;
  --sky-lighter: #f2f4f5;
  --sky-lightest: #f7f9fa;
  --sky-light-80: #fbfbfb;
  --base-light-light-100: #fff;

  /* Violet */
  --violet-violet-20: #eee5ff;
  --violet-violet-40: #d3bdff;
  --violet-violet-60: #b18aff;
  --violet-violet-80: #8f57ff;
  --violet-violet-100: #7f3dff;

  /* Red */
  --red-red-20: #fdd5d7;
  --red-red-40: #fda2a9;
  --red-red-60: #fd6f7a;
  --red-red-80: #fd5662;
  --red-red-100: #fd3c4a;

  /* Green */
  --green-green-20: #cffaea;
  --green-green-40: #93eaca;
  --green-green-60: #65d1aa;
  --green-green-80: #2ab784;
  --green-green-100: #00a86b;

  /* Yellow */
  --yellow-yellow-20: #fceed4;
  --yellow-yellow-40: #fcdda1;
  --yellow-yellow-60: #fccc6f;
  --yellow-yellow-80: #fcbb3c;
  --yellow-yellow-100: #fcac12;

  /* Blue */
  --blue-blue-20: #bddcff;
  --blue-blue-40: #8ac0ff;
  --blue-blue-60: #57a5ff;
  --blue-blue-80: #248aff;
  --blue-blue-100: #07f;
}

/* ========== RESET CSS ==========  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

ul {
  list-style: none;
}

/* ========== TYPOGRAPHY ========== */
.typo-title-x {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}

.typo-title-1 {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

.typo-title-2 {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.typo-title-3 {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.typo-regular-1 {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.typo-regular-2 {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.typo-regular-3 {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.typo-small {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}

.typo-tiny {
  color: var(--base-dark-dark-75, #161719);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
}

/* ========== LAYOUT CSS ========== */
.grid {
  display: grid;
}

/* ========== BLOCK32 ========== */
.w32 {
  display: block;
  width: 32px;
}

.h32 {
  display: block;
  height: 32px;
}
