.app-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  background-color: var(--sky-light);
}

.app-container {
  display: grid;
  /* grid-template-columns: repeat(4, 20vw); */
  grid-gap: 40px;
}

/* ========== SECTIONS ==========  */
.section {
  width: 1440px;
  padding: 40px;
  border-radius: 40px;
  background: #fff;
}

.secction-title {
  margin-bottom: 40px;
}

/* ========== COLOR ==========  */
.color-list {
}

.color-list__item {
  display: grid;
  margin-bottom: 20px;
  column-gap: 20px;
  grid-template-columns: 60px auto;
}

.color-level {
  display: flex;
}

.color-level__item {
  width: 140px;
  height: 140px;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  font-size: 10px;
}

.color-level .color-level__item:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.color-level .color-level__item:last-child {
  flex-grow: 1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* ========== TYPOGRAPHY ==========  */
.typography-inter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 100px;
  padding: 40px;
  margin-bottom: 20px;
}

.typography-inter__content {
  word-break: break-word;
}

.typography-table {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-gap: 40px;
}

.typography-table__header {
  color: #91919f;
}

/* ========== ICON ==========  */
.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 100px;
}

.icon-source {
  display: flex;
  padding: 32px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--base-light-light-60, #f1f1fa);
  margin-bottom: 400px;
}

/* ========== ILLUSTRATION ==========  */
.illustration-list {
  display: flex;
  flex-wrap: wrap;
}

.illustration-item {
  width: 312px;
  height: 312px;
}

.illustration-item img {
  width: 100%;
}

/* ========== SWIPPERJS ========== */
.app-slider {
  overflow: hidden;
  background-color: #fff;
  /* width: 60vw; */
  margin: 10vh auto;
  border-radius: 20px;
}

.swiper-slide {
  margin-bottom: 20px;
}

/* ========== CLICKABLE ========== */
.clickable-color,
.clickable-typo,
.clickable-icon {
  cursor: pointer;
}
